
MusiCore/.vs/MusiCore/v16/.suo
MusiCore/.vs/MusiCore/v16/.suo
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.pdb
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.pdb
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/.vs/MusiCore/v16/.suo
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.pdb
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.pdb
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/.vs/MusiCore/v16/.suo
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/.vs/MusiCore/v16/.suo
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.pdb
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.pdb
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.Views.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.Views.pdb
