
MusiCore/.vs/MusiCore/v16/.suo
MusiCore/.vs/MusiCore/v16/.suo
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.pdb
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.pdb
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/.vs/MusiCore/v16/.suo
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.pdb
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.pdb
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/.vs/MusiCore/v16/.suo
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/.vs/MusiCore/v16/.suo
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.pdb
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.pdb
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.Views.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.Views.pdb
*.dll
*.dll
*.cache
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V3.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.UI.Views.V4.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Embedded.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/MusiCore.Views.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
MusiCore/MusiCore/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
MusiCore/MusiCore/obj/Debug/netcoreapp3.1/MusiCore.Views.dll
*.cache
*.cache
*.pdb
