@model MusiCore.ViewModels.ConcertFormViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ekle</h1>
<h4>Yeni Konser Ekle</h4>
<hr />
<br/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.AntiForgeryToken() @*Chrome'da formu incelediğinde; formun en sonunda token'i göreceksin. Önceden formun en başında görünüyordu.*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*Venue*@
            <div class="form-group">
                <label asp-for="Venue" class="control-label textRenk"></label>
                <input asp-for="Venue" class="form-control" autofocus value="İstanbul"/>          @*Kadıköy*@
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label textRenk"></label>
                <input asp-for="Date" class="form-control" value="12 Jan 2023"/>          @*12 Jan 2023*@
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Time" class="control-label textRenk"></label>
                <input asp-for="Time" class="form-control" value="20:00"/>          @*20:00*@
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="Genre" class="control-label textRenk"></label>
            <select asp-for="Genre" class="form-control" asp-items="ViewBag.GenreBag"></select>
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <label asp-for="Genre" class="control-label textRenk"></label>

                <select asp-for="Genre" class="form-control"
                        asp-items="@(new SelectList(Model.Genres, "Id", "Name"))">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            
            @*<select asp-for="Genre"   
                    class="form-control"   
                    asp-items="@(new SelectList(Model.Genres, "Id", "Name"))">  
            </select>*@  

            @*<select asp-for="Genre"
                    asp-items="Model.States"
                    class="form-control" />*@

            <div class="form-group">
                <input type="submit" value="Ekle!" class="btn btn-green" />
            </div>

            <div>
                <a asp-action="Index">Geri Dön</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
