@model IEnumerable<MusiCore.Models.Concert>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.DateTime - @item.Artist.UserName</li>
    }
</ul>