@model IEnumerable<MusiCore.Models.Concert>

@{
    ViewData["Title"] = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("PartialViews/_PartialViewForCreateTextTop")

<ul id="ulId" class="gigs">
    @foreach (var item in Model)
    {
        // <li> <div id="MainDiv"> <div id="followOrUnfollowDiv"> <div id="followDiv"> <button id="followOrUnfollowButton">
        <li>
            <div id="MainDiv" class="MainDiv" style=" height: 65px;">
                <div class="firstDiv date date i-display-inline-block">
                    <div class="month">
                        @item.DateTime.ToString("MMM")
                    </div>
                    <div class="day">
                        @item.DateTime.ToString("d ")
                    </div>
                </div>
                <div id="ArtistNameAndGenreDiv" class="secondDiv ArtistNameAndGenreDiv i-display-inline-block">
                    <div id="artistNameDiv" class="artist artistNameDiv gigHub-artistLabel" val="@item.Venue" style=""></div>
                    <div>
                        <div class="gigHub-genreLabel" style="">
                            @item.Genre.Name
                        </div>
                    </div>
                </div>
                <div id="followOrUnfollowDiv" class="thirdDiv i-display-inline-block" style="position: absolute; left: 206px; top: 1px;">
                    <div id="followDiv" class="followDiv">
                        @*btn-sm çıkarıldı   btn-sm-for-follow eklendi*@
                        <button id="followOrUnfollowButton" onclick="followOrUnfollow(this)"
                                class="followOrUnfollowButton btn btn-link js-toggle-follow gigHub-followLabel gigHub-followLabelNotFollowing followOrUnfollowButton btn-sm-for-follow" style="" data-gig-id=@item.Id value="Takip et">
                            Takip Et
                        </button>
                    </div>
                    <div id="goingDiv">
                        <button onclick="attendToConcertFunc(this)" id="goingButtonId" data-gig-id=@item.Id
                                value="Katıl" style="position: absolute; left: 1px; top: 29px; width: 109px;"
                                class="gigHub-goingButton btn btn-default btn-sm pull-right btnGoing gigHub-goingButtonPassive" data-artist-id="d3aa7f47-959e-414a-a467-2da769a92cc6">
                            Katıl
                        </button>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>