@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    @Html.Partial("PartialViews/_PartialViewForCreateTextTop")
    @*<hr />*@
    Müzik Merkezi, sanatçıların üye olup konser verebildiği, üyelerin ise sanatçıların bu konserlere katılıp katılmayacaklarını belirlelidiği, katılmak istedikleri konserleri bir listeden görüntüleyebildiği, istedikleri sanatçıları takip edebildiği bir sistemdir.
    @*<dl class="row">
        <dt class="col-sm-2">
            ss
        </dt>
        <dd class="col-sm-10">
            ss
        </dd>
        <dt class="col-sm-2">
           ss
        </dt>
        <dd class="col-sm-10">
            ss
        </dd>
    </dl>*@
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |*@
    @*<a asp-action="Index">Geri dön</a>*@
</div>