
@{
    ViewData["Title"] = "FixLaterAndAboutProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>About Project</h1>

@*
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.0/css/all.css">
*@
@*<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.0/css/all.css">*@


<table class="table" style="color:#007bff ">
    <tbody>
        <tr>
            <td>
                <i class="far fa-moon"></i>
                &nbsp BBB
            </td>
        <tr>
    </tbody>
</table>

<br />
<h1>Fix Later</h1>
<table class="table" style="color:#007bff ">
    <tbody>
        <tr>
            <td>
                <i class="far fa-moon"></i>
                &nbsp LogOut hover problemi
            </td>
        <tr>
    </tbody>
</table>