@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba!</h1>
    <p>Bu proje <a style="font-family: arial" href="https://docs.microsoft.com/aspnet/core">.NET Core 3.1</a> ile geliştirilmiştir.</p>
</div>
