/*  site.css
    Please see documentat<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.0/css/all.css">


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 32px; /* Vertically center the text there */
}


/* PROJE ÖDEVİ OLAN 'MÜZİK MERKEZİ' NDEN EKLENENLER: ''*/


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

*/
/* ------------------------------------------------------------eren*/
body {
    /*color: #0057f6;*/
}

h1 {
    color: #f6004f;
}

h4 {
    /*color: #f6004f;*/
    color: darkorange;
    font-weight: bold;
}

.textRenk {
    color: #f06767;
}
/*başlık kırmızısı #f6004f   */

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: red;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(207, 35, 10, 0.6);
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fe0404;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
    font-weight: 600;
}

dt {
    color: #f06767;
}

.navbar-light .navbar-brand {
    color: rgb(248, 0, 0) !important;
}

a {
    color: #16b839;
    font-weight: 400;
}

    a:hover {
        color: #13d32b;
        text-decoration: none;
    }

.editor-field textarea {
    width: 400px;
    height: 100px;
}

textarea > .form-control {
    width: 400px;
    height: 400px;
}









/* Bootstrap Overrides */

.navbar-musicore {
    background-color: #ff4342 !important; /* !important ile override edilmediği takdirde çalışmıyor. */
    border-color: #ff4342 !important;
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-light .navbar-brand {
    color: #fff !important;
}

body {
    font-size: 18px !important;
}

.form-control {
    font-size: 19px;
    padding: 20px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}


    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: red;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(255, 34, 2, 0.68);
    }


.btn {
    /*font-size: 17px;
    padding: 7px 20px;*/
    -ms-border-radius: 9px;
    border-radius: 6px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
}

.orangeBackgroundedText {
    background-color: #f60;
    border: none;
    color: #fff;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.dropdown-item {
    /*display: none;
    position: absolute;
    min-width: 188px;
    z-index: 1;*/
    /*background-color: #f1f1f1 !important;  aptal bi renk*/
    padding: 15px 20px !important;
}

    .dropdown-item:focus, .dropdown-item:hover {
        text-decoration: none;
        background-color: red;
        font-weight: bold;
        color: white;
    }

.btnUseless {
    font-size: 16px;
    padding: 1px 10px;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    -ms-border-radius: 9px;
    border-radius: 6px;
    color: black !important;
}

.navbar-light .navbar-nav .nav-link > .btnUseless {
    color: black !important;
}

.newButton {
    color: blue;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/*.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-item {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 188px;
    z-index: 1;
}

    .dropdown-item a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: white;
    }

        .dropdown-item a:hover {
            background-color: #f60808;
            color: #fff;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f60808;
}*/

.pseudoButton {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: black;
    /*border is optional*/
    /*border-bottom: 1px solid #444;*/
}


    .pseudoButton:hover {
        color: white;
    }

.btn-green {
    color: #fff;
    background-color: #32b711;
    border-color: #32b711;
}

    .btn-green:hover {
        color: #fff;
        background-color: #239e01;
        border-color: #32b711;
    }

.text-danger {
    color: #dc3545 !important;
    font-weight: 700;
}

nav-item dropdown:hover {
    background-color: white;
    color: red;
}

/*.dropdown:hover .dropdown-content {
    display: block;
}*/

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}



textarea.form-control {
    width: 450px !important;
    height: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
}

textarea .form-control {
    width: 450px !important;
    height: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*.table > tbody > tr:first-child > th {
    border: none !important;
}*/


.table > tbody > tr:first-child > th {
    border: none;
}

/*.table > thead > tr:first-child > th {
    border: none !important;
}*/


.table > thead > tr:first-child > th {
    border: none;
}

/* Yeşil tik başlangıç*/

:root {
    --borderWidth: 7px;
    --height: 24px;
    --width: 12px;
    --borderColor: #78b13f;
}

/*body {
    padding: 20px;
    text-align: center;
}*/

.check {
    display: inline-block;
    transform: rotate(45deg);
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
}

/* Yeşil tik bitiş*/

/*Kırmızı çarpı işareti başlangıç*/

.close {
    position: absolute;
    /*right: 32px;
    top: 32px;*/
    left: 414px;
    /*left: 400px;*/
    width: 32px;
    height: 32px;
    opacity: 1 !important;
    color: red;
    cursor: default !important;
}

    /*.close:hover {
    opacity: 1;
    color: red;
}*/

    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: red;
        color: red;
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }

/*Kırmızı çarpı işareti bitiş*/


/* Yeni Siteye Alınan Başlangıç*/
/*Page-level Styles -Başlangıç --------------------------------------------------- */
/*Takvim ikonu başlangıç*/

.input-group-addon:last-child {
    border-radius: 4px;
    margin-left: 1px;
    width: 41px;
    font-size: 16px;
}

/* Ekledi */
.gigs {
    list-style: none;
}
    /* Ekledi */

    /* Ekledi */
    .gigs > li {
        position: relative;
        margin-bottom: 30px;
    }
        /* Ekledi */

        /* Ekledi */
        .gigs > li .date {
            background: Red;
            color: white;
            text-align: center;
            width: 60px;
            border-radius: 8px;
        }
            /* Ekledi */

            /* Ekledi */
            .gigs > li .date .month {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                padding: 2px 6px;
            }
            /* Ekledi */

            /* Ekledi */
            .gigs > li .date .day {
                background: #f7f7f7;
                color: #333;
                font-size: 20px;
                padding: 6px 12px;
            }
        /* Ekledi */

        /* Ekledi */
        .gigs > li .details {
            position: absolute;
            top: 0;
            left: 70px;
        }
            /* Ekledi */

            .gigs > li .details .artist {
                display: block;
                font-weight: bold;
            }

            .gigs > li .details .genre {
                font-size: 15px;
            }

    .gigs .details {
        width: 155px;
    }

.btnGoing {
    float: right;
}

.gigs > li .actions {
    font-size: 15px;
    display: none;
}

.gigs > li:hover .actions {
    display: block;
}

.DisplayInline {
    display: inline;
}

.DisplayInlineStyled {
    display: inline;
    color: gray;
    font-style: italic;
    font-size: 14px;
}

/*Takvim ikonu bitiş*/
/*Page-level Styles -Bitiş --------------------------------------------------- */
/* Yeni Siteye Alınan Bitiş*/

.crossMarkForNotCompleted {
    position: absolute;
    /*right: 32px;
    top: 32px;*/
    /*left: 408px;*/
    width: 32px;
    height: 32px;
    cursor: default !important;
    opacity: 1;
    color: red;
}

    .crossMarkForNotCompleted:hover {
        opacity: 1;
    }

    .crossMarkForNotCompleted:before, .crossMarkForNotCompleted:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #ffc107;
    }

    .crossMarkForNotCompleted:before {
        transform: rotate(45deg);
    }

    .crossMarkForNotCompleted:after {
        transform: rotate(-45deg);
    }

.btn {
    border-color: #80808078;
}

.btn-sm:hover {
    color: white;
    background: #82cc11;
    text-decoration: none;
}

.btn-sm-for-follow {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-sm-for-follow:hover {
    text-decoration: none;
}




/*animasyon başlangıç*/

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/*animasyon bitiş*/



/* EREN CSS -BAŞLANGIÇ --------------------------------------------------- */

.i-color-black {
    color: black;
}

.i-text-align-right {
    text-align: right;
}

.i-text-align-left {
    text-align: left;
}

.i-font-weight-bold {
    font-weight: bold;
    vertical-align: middle;
}

/* Dikey ortalama - iç içe taglar içinde -Bitiş */


.i-display-table {
    display: table;
}
/*parent olan tag'e Display:Table verilir. 
        İçerdeki child'a ise Display:table-cell ve vertical-align:middle verilir'*/
.i-display-table-cell {
    display: table-cell;
}

.i-vertical-align-middle {
    vertical-align: middle;
}

/* Dikey ortalama - iç içe taglar içinde -Bitiş */


.i-vertical-align-bottom {
    vertical-align: bottom;
}

.i-header-h1 {
    font-size: 35px;
}

.i-header-h2 {
    font-size: 30px;
}

.i-display-inline {
    display: inline;
}

.i--smallGrayItalicText {
    color: gray;
    font-style: italic;
    font-size: 14px;
}

.i-float-right {
    float: right;
}

.i-float-left {
    float: left;
}

.i-display-inline-block {
    display: inline-block;
}

/*position: fixed; /* ekranın altında sabit durmasını sağlıyor. Aşağı scroll yapsan da sabit kalır*/ */
/*
.i-footer {
    position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: gold;
color: white;
text-align: center;
height: 55px;
}
*/
.i-highlight-text-bold-black {
    font-weight: bold;
    color: black;
}

.i-highlight-text-bold-red {
    font-weight: bold;
    color: red;
}

.i-highlight-text-italic-gray {
    font-style: italic;
    color: gray;
}

.i-highlight-text-italic-black {
    font-style: italic;
    color: black;
}
/* EREN CSS -BİTİŞ --------------------------------------------------- */



.ball {
    background-color: rgba(230, 0, 0, 0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(217, 23, 23, 0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
}

.ball1 {
    background-color: rgba(232, 8, 8, 0);
    border: 5px solid rgb(228, 9, 9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 4px #e60505;
    width: 24px;
    height: 24px;
    /*margin: 6px auto;*/
    margin: 30px 155px;
    /*position: relative;*/
    top: -50px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}


/*Alertify Js renkler başlangıç*/
.alertify-notifier .ajs-message {
    /*background: rgba(255, 255, 255, 0.95);
    color: deepskyblue;
    text-align: center;
    border: solid 1px #ddd;
    border-radius: 2px;*/
}

    .alertify-notifier .ajs-message.ajs-success {
        /*color: deepskyblue;
        background: rgba(91, 189, 114, 0.95);
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);*/
        background-color: deepskyblue !important;
        color: white !important;
    }

    .alertify-notifier .ajs-message.ajs-error {
        /*color: deepskyblue;
        background: rgba(217, 92, 92, 0.95);
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);*/
        background-color: orangered !important;
        color: white !important;
    }

    .alertify-notifier .ajs-message.ajs-warning {
        /*background: rgba(252, 248, 215, 0.95);
        border-color: deepskyblue;*/
    }

/*Alertify Js renkler bitiş*/


.i-footer {
    position: fixed; /* ekranın altında sabit durmasını sağlıyor. Aşağı scroll yapsan da sabit kalır*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gold;
    color: white;
    /*text-align: center;*/
    height: 55px;
    font-weight: bold;
    color: black;
}

/* Dikey ortalama - iç içe taglar içinde -Bitiş */

.i-vertical-align-bottom {
    vertical-align: bottom;
}

.i-header-h1 {
    font-size: 35px;
}

.i-header-h2 {
    font-size: 30px;
}

.i-display-inline {
    display: inline;
}

.i--smallGrayItalicText {
    color: gray;
    font-style: italic;
    font-size: 14px;
}

.i-float-right {
    float: right;
}

.i-float-left {
    float: left;
}

.i-display-inline-block {
    display: inline-block;
}

.i-highlight-text-bold-black {
    font-weight: bold;
    color: black;
}

.i-highlight-text-bold-red {
    font-weight: bold;
    color: red;
}

.i-highlight-text-italic-gray {
    font-style: italic;
    color: gray;
}

.i-highlight-text-italic-black {
    font-style: italic;
    color: black;
}

/*.gigHub-followLabel {
    position: absolute;
    left: 33px;
    top: -4px;
    font-size: 16px;
    color: black;
}*/


/*position: absolute;
left: 15px;
top: 2px;
width: 74px;
border: none;*/

.gigHub-followLabelFollowing {
    position: absolute;
    left: 15px;
    top: 2px;
    width: 74px;
    border: none;
    font-weight: bold;
    color: #e060d6;
}

.gigHub-followLabelFollowing:hover {
    color: #e060d6;
}

.gigHub-followLabelNotFollowing {
    position: absolute;
    left: 15px;
    top: 2px;
    width: 74px;
    border: none;
    font-weight: normal;
    color: #007bff;
}

.gigHub-followLabelNotFollowing:hover {
    color: #007bff;
}

/*.gigHub-followLabel:hover {
        background-color: white;
        color: #007bff;
    }*/


/*.gighub-goingButton {
    position: absolute;
    left: 40px;
    top: 27px;
}*/


.gighub-goingButton {
    position: absolute;
    left: 1px;
    top: 33px;
    width: 109px;
}

.gigHub-goingButtonActive {
    background-color: #10ac10;
    color: white;
}


.gigHub-goingButtonPassive {
    border-color: gray;
}
