/* Please see documentat<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.0/css/all.css">


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}





/* PROJE ÖDEVİ OLAN 'MÜZİK MERKEZİ' NDEN EKLENENLER: ''*/


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}



/* ------------------------------------------------------------eren*/
body {
    /*color: #0057f6;*/
}

h1 {
    color: #f6004f;
}

h4 {
    /*color: #f6004f;*/
    color: darkorange;
    font-weight: bold;
}

.textRenk {
    color: #f06767;
}
/*başlık kırmızısı #f6004f   */

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: red;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(207, 35, 10, 0.6);
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fe0404;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
    font-weight: 600;
}

dt {
    color: #f06767;
}

.navbar-light .navbar-brand {
    color: rgb(248, 0, 0) !important;
}

a {
    color: #16b839;
    font-weight: 400;
}

    a:hover {
        color: #13d32b;
        text-decoration: none;
    }

.editor-field textarea {
    width: 400px;
    height: 100px;
}

textarea > .form-control {
    width: 400px;
    height: 400px;
}









/* Bootstrap Overrides */

.navbar-musicore {
    background-color: #ff4342 !important; /* !important ile override edilmediği takdirde çalışmıyor. */
    border-color: #ff4342 !important;
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-light .navbar-brand {
    color: #fff !important;
}

body {
    font-size: 18px !important;
}

.form-control {
    font-size: 19px;
    padding: 20px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}


.form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: red;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(255, 34, 2, 0.68);
}


.btn {
    font-size: 17px;
    padding: 7px 20px;
    -ms-border-radius: 9px;
    border-radius: 6px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.orangeBackgroundedText {
    background-color: #f60;
    border: none;
    color: #fff;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.dropdown-item {
    /*display: none;
    position: absolute;
    min-width: 188px;
    z-index: 1;*/
    /*background-color: #f1f1f1 !important;  aptal bi renk*/
    padding: 15px 20px !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    text-decoration: none;
    background-color: red;
    font-weight: bold;
    color: white;
}

.btnUseless {
    font-size: 16px;
    padding: 1px 10px;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    -ms-border-radius: 9px;
    border-radius: 6px;
    color: black !important;
}

.navbar-light .navbar-nav .nav-link > .btnUseless {
    color: black !important;
}

.newButton {
    color: blue;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/*.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-item {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 188px;
    z-index: 1;
}

    .dropdown-item a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: white;
    }

        .dropdown-item a:hover {
            background-color: #f60808;
            color: #fff;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f60808;
}*/

.pseudoButton {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: black;
    /*border is optional*/
    /*border-bottom: 1px solid #444;*/
}


    .pseudoButton:hover {
        color: white;
    }

