<div class="form-group">
    <input type="submit" value="@ViewData["ViewDataForSaveButtonsValue"]" class="@ViewData["ViewDataForCSSClassForEkleButton"]">
</div>
<div>
    <a asp-controller="@ViewData["ViewDataForControllerNameForGeriDonLink"]" asp-action="@ViewData["ViewDataForActionNameForGeriDonLink"]">Geri Dön P</a>
</div>

